*{
    -fx-primary: linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-second: #008CBA;
}

.button{
    -fx-background-color:  -fx-second;
    -fx-background-radius: 50;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-radius: 50; /* Set the border radius to a high value */
    -fx-border-radius: 50;
    -fx-padding: 5px; /* Add some padding to the TextField to make the oval shape more apparent */
    -fx-background-color: white; /* Set the background color to white */
    -fx-border-color: -fx-primary; /* Set the border color to black */
    -fx-border-width: 3px; /* Set the border width to 3px */
}


.dialog-button{
    /*-fx-background-color: blue;*/
    -fx-border-color: -fx-second;
    -fx-text-fill: white;
    -fx-border-radius: 1px;
    -fx-background-radius: 50; /* Set the border radius to a high value */
    -fx-border-radius: 50;
}
